# JPA
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:3306/past-forward"
    username: dev
    password: 1234
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

# Swagger
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /api
    disable-swagger-default-url: true
    display-request-duration: true
  packages-to-scan: aws.retrospective
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
